@import "../../colors";

body {
	background-color: $base3;
	color: $base00;
	margin: 2em;
}

button {
    color: $base00;
    background-color: $base2;
    border: 1px solid $base1;
    &:focus {
        outline: none;
    }
}

.icon {
    color: $base1;
}
