argon2-cffi==16.2.0
cffi==1.8.3
Django==1.11.20
django-passwords==0.3.12
django-simple-aes-field==0.1.3
enum34==1.1.6
fabric
oauthlib==2.0.0
pycparser==2.17
pycrypto==2.6.1
requests==2.11.1
requests-oauthlib==0.7.0
SimpleAES==1.0
six==1.10.0
South==1.0.2
typing==3.5.2.2
beautifulsoup4
html5lib
psycopg2
djangorestframework
djangorestframework-bulk
django-webpack-loader
django-extensions==1.9.9
raven
