{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/player/favicon-music.png' %}" />
  <title>Watershed Music</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
<body>
  <div id="container">
    {% render_bundle 'main' %}
  </div>
</body>
</html>
