@import "../../colors";

.queueItem{
    height: 2em;
    border-bottom: 1px solid $base1;
	padding-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;

	span.info {
		margin-left: 1em;
	}

    &:first-child {
        border-top: 1px solid $base1;
    }
	&:hover {
		background-color: $base2;
	}

    .itemControls {
        margin-right: 2em;
        float: right;
        &:after {
            clear: both;
        }
        button {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            &:hover {
                background-color: $base03;
            }
        }
    }

    .delete:hover {
        .icon {
            color: $magenta;
        }
    }

    .playNow:hover {
        .icon {
            color: $cyan;
        }
    }

    .playNext:hover {
        .icon {
            color: $yellow;
        }
    }

    .moveUp:hover {
        .icon {
            color: $blue;
        }
    }



}
