@import "../../colors";

.queueItem{
    border-bottom: 1px solid $base1;
	padding-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;

	span.info {
		margin-left: 1em;
	}

    &:first-child {
        border-top: 1px solid $base1;
    }
	&:hover {
		background-color: $base2;
	}
}
