@import "../../colors";

.queueItem{
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid $base1;
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
  display: flex;
    
  * {
    flex-wrap:nowrap;
  }

  .platform-icon {
    line-height: 1.5em;
    flex: none;
  }

	span.info {
    display: block;
    flex: auto;
		margin-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	}

  &:first-child {
    border-top: 1px solid $base1;
  }
	&:hover {
		background-color: $base2;
	}

  .itemControls {
    flex: none;
    margin-right: 1em;
    button {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      &:hover {
        background-color: $base03;
      }
    }
  }

  .delete:hover {
    .icon {
      color: $magenta;
    }
  }

  .playNow:hover {
    .icon {
      color: $cyan;
    }
  }

  .playNext:hover {
    .icon {
      color: $yellow;
    }
  }

  .moveUp:hover {
    .icon {
      color: $blue;
    }
  }

}
