input {
  border: 0px dashed gray;
  border-bottom: 1px dashed gray;
  margin: .5em;
  padding: .5em;
  max-width: 100%;
  &:focus {
      outline: none;
  }
}

button {
  background-color: #ddd;
  border: 0px solid gray;
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
}
