@import "../../colors";

#controls {
  float: right;
  &:after {
    clear: both;
  }

  > * {
    float: right;
    &:hover {
      cursor: pointer;
    }
    &:after {
      clear: both;
    }
  }

  #skipBtn {
    color: $violet;
  }
}

#listContainer {
  ul {
    list-style: none;
    padding: 0px;
  }

  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.toggle {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
  margin-left: 1em;
}
