@import "../../colors";

#controls {
  float: right;
  &:after {
    clear: both;
  }
  &:hover {
    cursor: pointer;
  }

  #skipBtn {
    color: $violet;
  }
}

#listContainer {
  ul {
    list-style: none;
    padding: 0px;
  }

  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}
