@import "../../colors";

h1 {
    color: $blue;
}

.toggle {
  margin-bottom: 1em;
  margin-left: 0;

  .active {
    text-decoration: none;
  }

  .dormant {
    border-bottom: 1px dashed $base00;
    cursor: pointer;
  }
}

form {
  display: grid;
  max-width: 480px;
  grid-template-columns: 1fr 2fr;
  column-gap: 1em;
  row-gap: 1em;
}

label {
  display: inline-block;
  text-align: right;
}

input {
  border: 0px dashed $base1;
  border-bottom: 1px dashed $base1;
  background-color: $base3;
  color: $base00;
  max-width: 100%;
  &:focus {
      outline: none;
  }
}

button {
  background-color: $base2;
  border: 0px solid $base1;
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
}
