@import "../../colors";

h1 {
    color: $blue;
}

.toggle {
    .active {
        text-decoration: none;
    }

    .dormant {
        border-bottom: 1px dashed $base00;
        cursor: pointer;
    }
}

input {
  border: 0px dashed $base1;
  border-bottom: 1px dashed $base1;
  background-color: $base3;
  color: $base00;
  margin: .5em;
  padding: .5em;
  max-width: 100%;
  &:focus {
      outline: none;
  }
}

button {
  background-color: $base2;
  border: 0px solid $base1;
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
}
